<form class="form-horizontal">

    <div class="form-group row request-types">
        <div class="col-3 requestType">
            <label for="Layer-1">Layer Base Currency </label>
            <input type="text" class="form-control" id="Layer-1" name="Layer-1">
        </div>
        <div class="col-3">
            <label for="Layer-2">Expected Loss Ratio </label>
            <input type="text" class="form-control" id="Layer-2" name="Layer-2">
        </div>
        <div class="col-3">
            <label for="Layer-3">Warranty %</label>
            <input type="text" class="form-control" id="Layer-3" name="Layer-3">
        </div>
        <div class="col-3">
            <label for="Layer-4">Probable Max Loss</label>
            <input type="text" class="form-control" id="Layer-4" name="Layer-4">
        </div>
    </div>

    <div class="form-group row textarea-desc mb-0">
        <div class="col-3 form-group">
            <label for="Layer-5">ECO %</label>
            <input type="text" class="form-control" id="Layer-5" name="Layer-5">
        </div>
        <div class="col-3 requestType">
            <label for="Layer-6">Max. Foreseeable Loss</label>
            <input type="text" class="form-control" id="Layer-6" name="Layer-6">
        </div>
        <div class="col-3 form-group">
            <label for="Layer-7">XPL %</label>
            <input type="text" class="form-control" id="Layer-7" name="Layer-7">
        </div>

        <div class="col-3">
            <label for="Layer-8">Est.Premium Income</label>
            <input type="text" class="form-control" id="Layer-8" name="Layer-8">
        </div>
    </div>


    <div class="form-group row mb-0">

        <div class="col-3 form-group date-picker">
            <label for="Layer-9">ROL %</label>
            <input type="text" class="form-control" id="Layer-9" name="Layer-9">
        </div>
        <div class="col-3">
            <label for="Layer-10">Max. Hours in Loss  %</label>
            <input type="text" class="form-control" id="Layer-10" name="Layer-10">
        </div>
        <div class="col-3 form-group date-picker">
            <label for="Layer-11">New/Renewal <span class="text-danger">*</span></label>
            <select class="form-control" id="Layer-11" placeholder="New/Renewal">
                <option> Select New/Renewal</option>
                <option> Option 1</option>
                <option> Option 2</option>
                <option> Option 3</option>
              </select>
        </div>
        <div class="col-3">
            <label for="Layer-12">Contract Period</label>
            <select class="form-control" id="Layer-12" placeholder="Contract Period">
                <option>Select Contract Period</option>
                <option> Option 1</option>
                <option> Option 2</option>
                <option> Option 3</option>
              </select>
        </div>
    </div>


    <div class="form-group row mb-0">

        <div class="col-3 requestType">
            <label for="Layer-12">Aggregated Claim Method</label>
            <select class="form-control" id="Layer-12" placeholder="Aggregated Claim Method">
                <option>Select Aggregated Claim Method</option>
                <option> Option 1</option>
                <option> Option 2</option>
                <option> Option 3</option>
              </select>
        </div>
        
    </div>

</form>