<div class="modal-dialog modal-xl">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title text-center" id="myModalLabel">Contents Of Terms</h4>
        </div>
        <div class="modal-body ">

            <form class="form-horizontal" >

                <div class="row mt-2">
                    <div class="col-12">
                        <div class="table-responsive">

                            <table class="table table-hover mb-5">
                                <thead class="bg-light">
                                    <tr>
                                        <th class="width_14">Term Name</th>
                                        <th class="">Effective Date</th>
                                        <th class="width_14">Expiration Date</th>
                                        <th class="width_14">Endorsement Change date</th>
                                        <th class="width_14">Endorsement Id</th>
                                        <th class="width_14">Endorsement Sign date</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Accounting</td>
                                        <td>1-1-2020</td>
                                        <td>1-1-2020</td>
                                        <td>1-1-2020</td>
                                        <td>New</td>
                                        <td> 1-1-2020</td>
                                            
                                    </tr>
                                    <tr>
                                        <td>Claim</td>
                                        <td>1-1-2020</td>
                                        <td>1-1-2020</td>
                                        <td>1-1-2020</td>
                                        <td>New</td>
                                        <td> 1-1-2020</td>
                                            
                                    </tr>
                                    <!-- ------------------------------- -->

                                </tbody>
                            </table>

                        </div>
                    </div>




                </div>


            </form>
        </div>
    </div>
    <!-- /.modal-content -->
</div>



