<div class="card-box mt-3 mx-2">
    <div class="row">
        <div class="col-6">
            <h3 class="pt-1 ml-2 uppercase circularBold">Contract Name</h3>
        </div>
        <div class="col-6 text-right">
            <button type="button" class="btn btn-primary mr-2" routerLink="/dashboard/update-contract">Edit</button>
            <button type="button" class="btn btn-orange" routerLink="/dashboard/endorsement">View Endorsement</button>
        </div>
    </div>
    <hr>
    <div class="container-fluid mt-2">
        <form class="form-horizontal" [formGroup]="contractForm">
            <div class="text-left">
                <h4 class="side-headings uppercase circularMedium">Contract Details</h4>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <mat-form-field appearance="legacy" class="example-full-width">
                        <mat-label>Contract Affiliate</mat-label>
                        <mat-select formControlName="affiliateID" [(ngModel)]="affiliateID" disableOptionCentering panelClass="selectCase">
                            <mat-option value="option1">Option 1</mat-option>
                            <mat-option value="option2">Option 2</mat-option>
                            <mat-option value="option3">Option 3</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field appearance="legacy" class="example-full-width">
                        <mat-label>Contract Type</mat-label>
                        <mat-select formControlName="contractTypeID" disableOptionCentering panelClass="selectCase1">
                            <mat-option value="option">Option 1</mat-option>
                            <mat-option value="option">Option 2</mat-option>
                            <mat-option value="option">Option 3</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-form-field appearance="legacy" class="example-full-width">
                        <mat-label>Contract Code</mat-label>
                        <input matInput placeholder="Contract Code" formControlName="contractCode">
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <mat-form-field appearance="legacy" class="example-full-width">
                        <mat-label>Contract Name</mat-label>
                        <input matInput placeholder="Contract Name" formControlName="contractName">
                    </mat-form-field>
                </div>
                <div class="col-3 requestType">
                    <mat-form-field appearance="legacy" class="example-full-width">
                        <mat-label>Renewal Type</mat-label>
                        <mat-select formControlName="renewalTypeCode" disableOptionCentering panelClass="selectCase1">
                            <mat-option value="option">Option 1</mat-option>
                            <mat-option value="option">Option 2</mat-option>
                            <mat-option value="option">Option 3</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-form-field appearance="legacy" class="example-full-width">
                        <mat-label>Effective Date</mat-label>
                        <input matInput [matDatepicker]="picker1" (focus)="picker1.open()" formControlName="effectiveDate">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-form-field appearance="legacy" class="example-full-width">
                        <mat-label>Expiration Date</mat-label>
                        <input matInput [matDatepicker]="picker2" (focus)="picker2.open()" formControlName="expirationDate">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3 requestType">
                    <mat-form-field appearance="legacy" class="example-full-width">
                        <mat-label>Aggregated Claim Method</mat-label>
                        <mat-select formControlName="aggregatedClaimMethod" disableOptionCentering
                            panelClass="selectCase1">
                            <mat-option value="option">Option 1</mat-option>
                            <mat-option value="option">Option 2</mat-option>
                            <mat-option value="option">Option 3</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col mt-2">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" formControlName="ibnrExclusionFlag" class="custom-control-input"
                            id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">IBNR Excluded</label>
                    </div>
                </div>
                <!-- <div class="col text-right">
                    <button type="button" class="btn btn-orange" *ngIf="!showUpdateBtn" (click)="editContract()">Edit</button>
                    <button type="button" class="btn btn-orange" *ngIf="showUpdateBtn" (click)="updateContract()">Update</button>
                </div> -->
            </div>
            <div class="form-group row mb-0">
            </div>
        </form>
        <hr>
        <div class="text-left">
            <h4 class="side-headings uppercase circularMedium">Layer Details</h4>
        </div>
        <app-layer></app-layer>
    </div>
</div>