

<div class="row">

    <div class="col-md-6">
        <div class="form-group">
            <label for="field-1" class="control-label">Layer Code</label>
            <input type="text" class="form-control" id="field-1" placeholder="Doe">
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label for="field-1" class="control-label">Layer Title</label>
            <input type="text" class="form-control" id="field-2" placeholder="Doe">
        </div>
    </div>


</div>

<div class="row">

    <div class="col-md-12">
        <div class="form-group">
            <label for="field-3" class="control-label">Layer Type</label>
            <select class="form-control">
                <option>Layer 1</option>
                <option>Layer 1</option>
                <option>Layer 1</option>
                <option>Layer 1</option>
                <option>Layer 1</option>
            </select>
        </div>
    </div>

   
</div>
