<div class="row mt-2">
          <div class="col-12">
            <div class="table-responsive">
              <table class="table table-hover mb-5">
                <thead class="bg-light">
                  <tr>
                    <th class="width_14">Alias Code</th>
                    <th class="width_14">Alias Type</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>ALC-0001</td>
                        <td>Test</td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>