  
<div class="row">
    
    <div class="col-lg-12">
        <div class="card-box">

            <ul class="nav nav-tabs tabs-bordered nav-justified">
                <li class="nav-item">
                    <a href="#LayerDetails-b2" data-toggle="tab" aria-expanded="false" class="nav-link active">
                        <span class="d-block d-sm-none"><i class="mdi mdi-home-variant"></i></span>
                        <span class="d-none d-sm-block">Layer Details</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#uwDetails-b2" data-toggle="tab" aria-expanded="true" class="nav-link ">
                        <span class="d-block d-sm-none"><i class="mdi mdi-account"></i></span>
                        <span class="d-none d-sm-block">U/W Details</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#Alias-b2" data-toggle="tab" aria-expanded="false" class="nav-link">
                        <span class="d-block d-sm-none"><i class="mdi mdi-email-outline"></i></span>
                        <span class="d-none d-sm-block">Control Layer Alias</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#LossSettlement-b2" data-toggle="tab" aria-expanded="false" class="nav-link">
                        <span class="d-block d-sm-none"><i class="mdi mdi-settings"></i></span>
                        <span class="d-none d-sm-block">Loss Settlement Details</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#PremiiumSettlement-b2" data-toggle="tab" aria-expanded="false" class="nav-link">
                        <span class="d-block d-sm-none"><i class="mdi mdi-settings"></i></span>
                        <span class="d-none d-sm-block">Premium Settlement Details</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#ProcessingOption-b2" data-toggle="tab" aria-expanded="false" class="nav-link">
                        <span class="d-block d-sm-none"><i class="mdi mdi-settings"></i></span>
                        <span class="d-none d-sm-block">Processing Option</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#CodingCondition-b2" data-toggle="tab" aria-expanded="false" class="nav-link">
                        <span class="d-block d-sm-none"><i class="mdi mdi-settings"></i></span>
                        <span class="d-none d-sm-block">Special Coding Condition</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                
                <div class="tab-pane active" id="LayerDetails-b2">
                        <div class="card-box">
                  <app-layer-details></app-layer-details>
                  </div>
                </div>
                <div class="tab-pane " id="uwDetails-b2">
                        <div class="card-box">
                    <app-uwdetails></app-uwdetails>
                    </div>
                </div>
                <div class="tab-pane" id="Alias-b2">
                        <div class="card-box">
                    <app-layers-alias></app-layers-alias>
                    </div>
                </div>
                <div class="tab-pane" id="LossSettlement-b2">
                   <app-settlement-details></app-settlement-details>
                </div>
                <div class="tab-pane" id="PremiiumSettlement-b2">
                   <app-premium-settlement-details></app-premium-settlement-details>
                </div>
                <div class="tab-pane" id="ProcessingOption-b2">
                    <app-processing-option></app-processing-option>
                </div>
                <div class="tab-pane" id="CodingCondition-b2">
                   <app-coading-condition></app-coading-condition>
                </div>
            </div>
        </div>
    </div> <!-- end col -->
</div>

<!-- /.modal-content -->
