<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Copy Contract</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="field-3" class="control-label">Contract Name</label>
                        <input type="text" class="form-control" id="field-3" readonly placeholder="Contract Name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="field-1" class="control-label">Contract Code</label>
                        <input type="text" class="form-control" id="field-1" placeholder="Contract Code">
                    </div>
                </div>
                <!-- <div class="col-md-6">
                    <div class="form-group">
                        <label for="field-2" class="control-label">Template</label>
                        <input type="text" class="form-control" id="field-2" placeholder="Template">
                    </div>
                </div> -->
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="field-1" class="control-label">Effective Date</label>
                        <input type="date" class="form-control" id="field-4" placeholder="John">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="field-2" class="control-label">Expiration Date</label>
                        <input type="date" class="form-control" id="field-5" placeholder="Doe">
                    </div>
                </div>
            </div>
        

            <!-- <div class="row mb-3">
                <div class="col-md-12">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="layerInclude" id="layerInclude">
                        <label class="custom-control-label" (click)="IsCopyLayer = !IsCopyLayer" for="layerInclude">Include&nbsp;Layer</label>
                    </div>
                </div>
                
            </div>
            <div class="row" *ngIf="IsCopyLayer">
                    <div class="col-md-6">
                        <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" name="layer1" id="layer1">
                                        <label class="custom-control-label" for="layer1"> Layer&nbsp;1</label>
                                    </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" name="layer2" id="layer2">
                                        <label class="custom-control-label" for="layer2"> Layer&nbsp;2</label>
                                    </div>
                        </div>
                    </div>
                </div> -->

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-info waves-effect waves-light">Copy Contract</button>
        </div>
    </div>
</div>