<!-- Start Content-->
<div class="container-fluid mt-3">

    <div class="row mt-1">

        <div class="col-lg-12">
            <div class="card-box pt-2">

                <div class="row mb-2">
                    <div class="col-md-6">
                        <h4 class="header-title pt-1">Claim</h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <button type="button" class="btn  btn-dark  mr-2" data-toggle="modal" data-target="#newContrctPop">Create
                            New Claim</button>

                        <button type="button" class="btn  btn-primary ">Search Claim
                        </button>
                    </div>
                </div>
                <hr>
                <div class="row mt-2">
                    <div class="col-12">
                        <div class="table-responsive">

                            <table class="table table-hover mb-5">
                                <thead class="bg-light">
                                    <tr>
                                        <th class="width_14">Claim #</th>
                                        <th class="width_14">Inward Group Name</th>
                                        <th class="width_14">Former Claim #</th>
                                        <th class="">Type Of Claim</th>
                                        <th class="width_14">Claim Program Code</th>
                                        <th class="width_14">Account Executive</th>
                                        <th class="width_14">Loss Date</th>

                                        <th class="width_14">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="font-weight-500">CPP-CT-</td>
                                        <td> <span class="badge badge-dark p-1">2020</span></td>
                                        <td>FORM-001</td>

                                        <td class="font-weight-500">Equiipment Breakdown - CPP</td>
                                        <td>
                                            <span class="badge badge-warning p-1">12-12-2020</span>
                                        </td>

                                        <td>
                                            <span class="badge badge-primary p-1">12-12-2021</span>
                                        </td>

                                        <td>
                                            <span class="badge badge-success p-1">Active</span>
                                        </td>

                                        <!-- <td class="text-center width_14">
                              <a routerLink="/vendor-profile" class="btn btn-sm btn-outline-primary mr-2"> View Contract
                              </a>
                              <button type="button" class="btn btn-sm btn-outline-primary mr-2" (click)="delete(i)"
                               >
                                Delete </button>
                            </td> -->
                                        <td>
                                            <!-- <div>
                              <popover-content #myPopover class="justify-content-center">
                                <a routerLink="/vendor-profile" class="btn btn-sm btn-outline-primary m-1"> View Contract
                                </a>
                                <a routerLink="/vendor-profile" class="btn btn-sm btn-outline-primary m-1"> Edit Contract
                                </a>
                                <a routerLink="/vendor-profile" class="btn btn-sm btn-outline-primary m-1"> Print Contract
                                </a>
                                <button type="button" class="btn btn-sm btn-outline-primary m-1">
                                    Delete </button>
                                <a routerLink="/vendor-profile" class="btn btn-sm btn-outline-primary m-1"> Cancel Contract
                                </a>
                                
                              </popover-content>
                              <i class="fa fa-ellipsis-h" [popover]="myPopover" [popoverOnHover]="false" aria-hidden="true"></i>
                            </div> -->
                                            <div class="btn-group dropdown">
                                                <a href="javascript: void(0);" class="table-action-btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
                                                        class="mdi mdi-dots-horizontal"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="javascript:void(0)"><i class="mdi mdi-pencil mr-2 text-muted font-18 vertical-middle"></i>Edit</a>
                                                    <a class="dropdown-item" href="javascript:void(0)"><i class="mdi mdi-view-list mr-2 text-muted font-18 vertical-middle"></i>View</a>
                                                    <a class="dropdown-item" href="javascript:void(0)"><i class="mdi mdi-printer mr-2 text-muted font-18 vertical-middle"></i>Print</a>
                                                    <a class="dropdown-item" href="javascript:void(0)"><i class="mdi mdi-file-cancel mr-2 font-18 text-muted vertical-middle"></i>Cancel</a>
                                                    <a class="dropdown-item" href="javascript:void(0)"><i class="mdi mdi-delete mr-2 font-18 text-muted vertical-middle"></i>Delete</a>
                                                </div>
                                            </div>

                                        </td>

                                    </tr>
                                    <!-- ------------------------------- -->


                                </tbody>
                            </table>


                            <nav>
                                <ul class="pagination pagination-split justify-content-center pagination-custom">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true"><img src="./assets/images/utilities/feather-arrow-left-small.png"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true"><img src="./assets/images/utilities/feather-arrow-right-small.png"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>




                </div>


            </div>

        </div>



    </div>

</div> <!-- end container-fluid -->
<ng-container>
    <div id="newContrctPop" class="modal fade ticket-dialog" tabindex="-1" role="dialog" aria-hidden="true">
        <app-cliam-create></app-cliam-create>
        <!-- /.modal-dialog -->
    </div>
</ng-container>




<!-- popover with dynamic html content -->
<br/><br/>