

<div class="row">

    <div class="col-md-12">
        <div class="form-group">
            <label for="field-3" class="control-label">Account Executive</label>
            <select class="form-control">
                <option>Executive 1</option>
                <option>Executive 1</option>
                <option>Executive 1</option>
                <option>Executive 1</option>
                <option>Executive 1</option>
            </select>
        </div>
    </div>

   
</div>
<div class="row">

    <div class="col-md-12">
        <div class="form-group">
            <label for="field-3" class="control-label">Affiliate</label>
            <select class="form-control">
                <option>Affiliate 1</option>
                <option>Affiliate 1</option>
                <option>Affiliate 1</option>
                <option>Affiliate 1</option>
                <option>Affiliate 1</option>
            </select>
        </div>
    </div>

   
</div>

<div class="row">

    <div class="col-md-12">
        <div class="form-group">
            <label for="field-3" class="control-label">inward Risk</label>
            <select class="form-control">
                <option>Risk 1</option>
                <option>Risk 1</option>
                <option>Risk 1</option>
                <option>Risk 1</option>
                <option>Risk 1</option>
            </select>
        </div>
    </div>

   
</div>
