<div class="container-fluid">

  <!-- start page title -->
  <div class="row mt-2">
    <div class="col-12">
      <div class="page-title-box">
        <div class="row">
          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <!-- <li class="breadcrumb-item"><a href="javascript: void(0);"></a></li>
                          <li class="breadcrumb-item"><a href="javascript: void(0);"></a></li>
                          <li class="breadcrumb-item active"></li> -->
            </ol>
          </div>
          <h4 class="page-title">Layer</h4>
          <button type="button" class="btn btn-primary mr-2 ml-auto" title="Add New Layer">
            <img src="../../../assets/fonts/shape-rectangle-plus.svg" alt="icon">
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- end page title -->



  <div class="row mt-2">
    <div class="col-lg-12">

      <h4 class="header-title mb-4"></h4>

      <div class="tabs-vertical-env">
        <div class="row">
          <div class="col-sm-2">
            <div class="nav flex-column nav-pills tabs-vertical" role="tablist" aria-orientation="vertical">
              <a class="nav-link mb-1 active" id="v-home-tab" data-toggle="pill" href="#v-home" role="tab"
                aria-controls="v-home" aria-selected="true">
                <span class="d-inline-block">Layer 1</span>
              </a>
              <a class="nav-link mb-1" id="v-profile-tab" data-toggle="pill" href="#v-profile" role="tab"
                aria-controls="v-profile" aria-selected="false">
                <span class="d-inline-block">Layer 2</span>
              </a>
              <a class="nav-link mb-1" id="v-messages-tab" data-toggle="pill" href="#v-messages" role="tab"
                aria-controls="v-messages" aria-selected="false">
                <span class="d-inline-block">Layer 3</span>
              </a>
              <a class="nav-link mb-1" id="v-settings-tab" data-toggle="pill" href="#v-settings" role="tab"
                aria-controls="v-settings" aria-selected="false">
                <span class="d-inline-block">Layer 4</span>
              </a>
            </div>
          </div>
          <div class="col-sm-10">
            <div class="tab-content pt-0">
              <div class="tab-pane fade active show" id="v-home" role="tabpanel" aria-labelledby="v-home-tab">
                <div class="row mb-2">

                  <div class="col-md-12 text-right">
                    <button type="button" class="btn btn-primary mr-2" routerLink="/dashboard/participant"
                      title="Participants">
                      <img src="../../../assets/fonts/account-group.svg" alt="icon">
                    </button>
                    <button type="button" class="btn btn-primary mr-2" routerLink="/dashboard/attachment"
                      title="Attachement Guidelines">
                      <img src="../../../assets/fonts/file-document-multiple.svg" alt="icon">
                    </button>
                    <button type="button" class="btn btn-primary mr-2" routerLink="/dashboard/terms" title="Terms">
                      <img src="../../../assets/fonts/terms.svg" alt="icons">
                    </button>
                    <button type="button" class="btn btn-primary mr-2" routerLink="/dashboard/namedInsured"
                      title="Named Insureds">
                      <img src="../../../assets/fonts/city.svg" alt="icon">
                    </button>
                  </div>
                </div>
                <app-create-layer></app-create-layer>
              </div>
              <div class="tab-pane fade" id="v-profile" role="tabpanel" aria-labelledby="v-profile-tab">
              </div>
              <div class="tab-pane fade" id="v-messages" role="tabpanel" aria-labelledby="v-messages-tab">
              </div>
              <div class="tab-pane fade" id="v-settings" role="tabpanel" aria-labelledby="v-settings-tab">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- end col -->


  </div> <!-- end container-fluid -->
  <ng-container>
    <div id="newContrctPop" class="modal fade ticket-dialog" tabindex="-1" role="dialog" aria-hidden="true">
      <app-participant-summary></app-participant-summary>
      <!-- /.modal-dialog -->
    </div>

  </ng-container>
  <ng-container>
    <div id="guideline" class="modal fade ticket-dialog" tabindex="-1" role="dialog" aria-hidden="true">
      <app-attachment-guide></app-attachment-guide>
      <!-- /.modal-dialog -->
    </div>
  </ng-container>
  <ng-container>
    <div id="terms" class="modal fade ticket-dialog" tabindex="-1" role="dialog" aria-hidden="true">
      <app-terms></app-terms>
      <!-- /.modal-dialog -->
    </div>
  </ng-container>
  <ng-container>
    <div id="namedInsured" class="modal fade ticket-dialog" tabindex="-1" role="dialog" aria-hidden="true">
      <app-named-insured></app-named-insured>
      <!-- /.modal-dialog -->
    </div>
  </ng-container>