<div class="card-box mt-3 mx-2">
  <div class="text-center">
    <h2><b>Create Contract</b></h2>
  </div>
  <hr>
  <div class="container-fluid mt-2">
    <form class="form-horizontal" [formGroup]="createForm">
      <!-- <span *ngIf="showErrorValidationMsg" class="error-msg mb-5">
        {{showErrorValidationMsg}}
      </span> -->
      <div class="form-group row mt-3">
        <div class="col-md-6">
          <mat-form-field appearance="legacy" class="example-full-width">
            <mat-label>Contract Affiliate<span class="text-danger">*</span></mat-label>
            <mat-select formControlName="affiliateID">
              <mat-option value="option">Option 1</mat-option>
              <mat-option value="option">Option 2</mat-option>
              <mat-option value="option">Option 3</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="legacy" class="example-full-width">
            <mat-label>Contract Type<span class="text-danger">*</span></mat-label>
            <mat-select formControlName="contractTypeID">
              <mat-option value="option">Option 1</mat-option>
              <mat-option value="option">Option 2</mat-option>
              <mat-option value="option">Option 3</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field appearance="legacy" class="example-full-width">
            <mat-label>Contract Code<span class="text-danger">*</span></mat-label>
            <input matInput placeholder="Contract Code" formControlName="contractCode">
          </mat-form-field>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-3">
          <mat-form-field appearance="legacy" class="example-full-width">
            <mat-label>Contract Name<span class="text-danger">*</span></mat-label>
            <input matInput placeholder="Contract Name" formControlName="contractName">
          </mat-form-field>
        </div>
        <div class="col-3 requestType">
          <mat-form-field appearance="legacy" class="example-full-width">
            <mat-label>Renewal Type<span class="text-danger">*</span></mat-label>
            <mat-select formControlName="renewalTypeCode">
              <mat-option value="option">Option 1</mat-option>
              <mat-option value="option">Option 2</mat-option>
              <mat-option value="option">Option 3</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field appearance="legacy" class="example-full-width">
            <mat-label>Effective Date<span class="text-danger">*</span></mat-label>
            <input matInput [matDatepicker]="picker1" (focus)="picker1.open()" formControlName="effectiveDate">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field appearance="legacy" class="example-full-width">
            <mat-label>Expiration Date<span class="text-danger">*</span></mat-label>
            <input matInput [matDatepicker]="picker2" (focus)="picker2.open()" formControlName="expirationDate">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-3 requestType">
          <mat-form-field appearance="legacy" class="example-full-width">
            <mat-label>Aggregated Claim Method</mat-label>
            <mat-select formControlName="aggregatedClaimMethod">
              <mat-option value="option">Option 1</mat-option>
              <mat-option value="option">Option 2</mat-option>
              <mat-option value="option">Option 3</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col mt-2">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1" formControlName="ibnrExclusionFlag">
            <label class="custom-control-label" for="customCheck1">IBNR Excluded</label>
          </div>
        </div>
      </div>

      <div class="form-group row mb-0">
      </div>

      <div class="row mb-2 mt-4">
        <div class="col-12 text-center">
          <button type="button" class="btn btn-orange mr-2" (click)="createContract()">Create
            Contract</button>
          <button type="button" class="btn btn-secondary">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>