<div class="mt-3">
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Layer 1
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="tab-content">
                <div class="tab-pane active" id="LayerDetails-b2">
                    <div class="card-box">
                        <app-layer-details></app-layer-details>
                    </div>
                </div>
            </div>
            <mat-accordion>
                <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Participants
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <app-participants-master></app-participants-master>
                    <!-- <mat-action-row>
                            <button mat-button color="primary" (click)="nextStep()">Next</button>
                        </mat-action-row> -->
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="setStep(1)" [expanded]="step === 1" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Named Insureds
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <app-named-insured></app-named-insured>
                    <!-- <mat-action-row>
                            <button mat-button color="warn" (click)="prevStep()">Previous</button>
                            <button mat-button color="primary" (click)="nextStep()">Next</button>
                        </mat-action-row> -->
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="setStep(2)" [expanded]="step === 2" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Attachment Guidelines
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <app-attachement-guidelines></app-attachement-guidelines>
                    <!-- <mat-action-row>
                            <button mat-button color="warn" (click)="prevStep()">Previous</button>
                            <button mat-button color="primary" (click)="nextStep()">Next</button>
                        </mat-action-row> -->
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="setStep(3)" [expanded]="step === 3" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Terms
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <app-terms></app-terms>
                    <!-- <mat-action-row>
                            <button mat-button color="warn" (click)="prevStep()">Previous</button>
                            <button mat-button color="primary" (click)="nextStep()">End</button>
                        </mat-action-row> -->
                </mat-expansion-panel>
            </mat-accordion>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Layer 2
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="tab-content">
                <div class="tab-pane active" id="LayerDetails-b2">
                    <div class="card-box">
                        <app-layer-details></app-layer-details>
                    </div>
                </div>
            </div>
            <mat-accordion>
                <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Participants
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <app-participants-master></app-participants-master>
                    <!-- <mat-action-row>
                            <button mat-button color="primary" (click)="nextStep()">Next</button>
                        </mat-action-row> -->
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="setStep(1)" [expanded]="step === 1" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Named Insureds
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <app-named-insured></app-named-insured>
                    <!-- <mat-action-row>
                            <button mat-button color="warn" (click)="prevStep()">Previous</button>
                            <button mat-button color="primary" (click)="nextStep()">Next</button>
                        </mat-action-row> -->
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="setStep(2)" [expanded]="step === 2" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Attachment Guidelines
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <app-attachement-guidelines></app-attachement-guidelines>
                    <!-- <mat-action-row>
                            <button mat-button color="warn" (click)="prevStep()">Previous</button>
                            <button mat-button color="primary" (click)="nextStep()">Next</button>
                        </mat-action-row> -->
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="setStep(3)" [expanded]="step === 3" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Terms
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <app-terms></app-terms>
                    <!-- <mat-action-row>
                            <button mat-button color="warn" (click)="prevStep()">Previous</button>
                            <button mat-button color="primary" (click)="nextStep()">End</button>
                        </mat-action-row> -->
                </mat-expansion-panel>
            </mat-accordion>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Add Layer
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="tab-content">
                <div class="tab-pane active" id="LayerDetails-b2">
                    <div class="card-box">
                        <app-layer-details></app-layer-details>
                    </div>
                </div>
            </div>
            <mat-accordion>
                <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Participants
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <app-participants-master></app-participants-master>
                    <!-- <mat-action-row>
                            <button mat-button color="primary" (click)="nextStep()">Next</button>
                        </mat-action-row> -->
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="setStep(1)" [expanded]="step === 1" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Named Insureds
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <app-named-insured></app-named-insured>
                    <!-- <mat-action-row>
                            <button mat-button color="warn" (click)="prevStep()">Previous</button>
                            <button mat-button color="primary" (click)="nextStep()">Next</button>
                        </mat-action-row> -->
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="setStep(2)" [expanded]="step === 2" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Attachment Guidelines
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <app-attachement-guidelines></app-attachement-guidelines>
                    <!-- <mat-action-row>
                            <button mat-button color="warn" (click)="prevStep()">Previous</button>
                            <button mat-button color="primary" (click)="nextStep()">Next</button>
                        </mat-action-row> -->
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="setStep(3)" [expanded]="step === 3" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Terms
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <app-terms></app-terms>
                    <!-- <mat-action-row>
                            <button mat-button color="warn" (click)="prevStep()">Previous</button>
                            <button mat-button color="primary" (click)="nextStep()">End</button>
                        </mat-action-row> -->
                </mat-expansion-panel>
            </mat-accordion>
        </mat-expansion-panel>
    </mat-accordion>
</div>