<div class="container-fluid">
    <div class="mt-3">
        <p-accordion>
            <p-accordionTab header="Layer 1" [selected]="true">
                <div class="tab-content">
                    <div class="tab-pane active" id="LayerDetails-b2">
                        <div class="card-box">
                            <app-layer-details></app-layer-details>
                        </div>
                    </div>
                </div>
                <p-accordion>
                    <p-accordionTab header="Participants">
                        <app-participants-master></app-participants-master>
                    </p-accordionTab>
                    <p-accordionTab header="Named Insureds">
                        <app-named-insured></app-named-insured>
                    </p-accordionTab>
                    <p-accordionTab header="Attachement Guidelines">
                        <app-attachment-guide></app-attachment-guide>
                    </p-accordionTab>
                    <p-accordionTab header="Terms">
                        <app-terms></app-terms>
                    </p-accordionTab>
                </p-accordion>
            </p-accordionTab>
            <p-accordionTab header="Layer 2">
                <div class="tab-content">
                    <div class="tab-pane active" id="LayerDetails-b2">
                        <div class="card-box">
                            <app-layer-details></app-layer-details>
                        </div>
                    </div>
                </div>
                <p-accordion>
                    <p-accordionTab header="Participants">
                        <app-participants-master></app-participants-master>
                    </p-accordionTab>
                    <p-accordionTab header="Named Insureds">
                        <app-named-insured></app-named-insured>
                    </p-accordionTab>
                    <p-accordionTab header="Attachement Guidelines">
                        <app-attachment-guide></app-attachment-guide>
                    </p-accordionTab>
                    <p-accordionTab header="Terms">
                        <app-terms></app-terms>
                    </p-accordionTab>
                </p-accordion>
            </p-accordionTab>
            <p-accordionTab header="Layer 3">
                <div class="tab-content">
                    <div class="tab-pane active" id="LayerDetails-b2">
                        <div class="card-box">
                            <app-layer-details></app-layer-details>
                        </div>
                    </div>
                </div>
                <p-accordion>
                    <p-accordionTab header="Participants">
                        <app-participants-master></app-participants-master>
                    </p-accordionTab>
                    <p-accordionTab header="Named Insureds">
                        <app-named-insured></app-named-insured>
                    </p-accordionTab>
                    <p-accordionTab header="Attachement Guidelines">
                        <app-attachment-guide></app-attachment-guide>
                    </p-accordionTab>
                    <p-accordionTab header="Terms">
                        <app-terms></app-terms>
                    </p-accordionTab>
                </p-accordion>
            </p-accordionTab>
            <p-accordionTab header="Add Layer">
                <div class="tab-content">
                    <div class="tab-pane active" id="LayerDetails-b2">
                        <div class="card-box">
                            <app-layer-details></app-layer-details>
                        </div>
                    </div>
                </div>
            </p-accordionTab>
        </p-accordion>
    </div>
</div>