<form class="form-horizontal">

    <div class="form-group row request-types">
        <div class="col-3 form-group">
            <label for="Layer-1">Reinsurer <span class="text-danger"></span></label>
            <input type="text" class="form-control" id="Layer-1" name="Layer-1">
        </div>
        <div class="col-3 form-group">
            <label for="Layer-2">Intermediary # </label>
            <input type="text" class="form-control" id="Layer-2" name="Layer-2">
        </div>
        <div class="col-3 form-group">
            <label for="Layer-3">Billing Org %</label>
            <input type="text" class="form-control" id="Layer-3" name="Layer-3">
        </div>
        <div class="col-3 form-group">
            <label for="Layer-3">Currency %</label>
            <input type="text" class="form-control" id="Layer-3" name="Layer-4">
        </div>
        <!-- <div class="col-3 form-group">
            <div class="custom-control custom-checkbox">
                <input type="checkbox"  class="custom-control-input" id="Layer-4">
                <label class="custom-control-label" for="Layer-4">IBNR Excluded</label>
              </div>
        </div> -->
    </div>

    <div class="form-group row textarea-desc mb-0">
        <div class="col-3 form-group">
            <label for="Layer-5">Former Id <span class="text-danger"></span></label>
            <input type="text" class="form-control" id="Layer-5" name="Layer-5">
        </div>
        <div class="col-3 form-group">
            <label for="Layer-6">Recipient Id </label>
            <input type="text" class="form-control" id="Layer-6" name="Layer-6">
        </div>
        <div class="col-3 form-group">
            <label for="Layer-7">Contract Reference # <span class="text-danger"></span></label>
            <input type="text" class="form-control" id="Layer-7" name="Layer-7">
        </div>
        <div class="col-3 form-group">
            <label for="Layer-8">Account Header <span class="text-danger"></span></label>
            <input type="text" class="form-control" id="Layer-8" name="Layer-8">
        </div>
    </div>
    <div class="form-group row mb-0">
        <div class="col-3 form-group">
            <label for="Layer-9">Comments</label>
           <textarea name="" class="form-control" id="Layer-9" cols="30" rows="5"></textarea>
        </div>
        <div class="col-3 form-group">
            <div class="custom-control custom-checkbox">
                <input type="checkbox"  class="custom-control-input" id="Layer-10">
                <label class="custom-control-label" for="Layer-10">Suppress Billing Docs</label>
              </div>
        </div>
        <div class="col-3 form-group">
            <div class="custom-control custom-checkbox">
                <input type="checkbox"  class="custom-control-input" id="Layer-11">
                <label class="custom-control-label" for="Layer-11">Lead Reinsurer</label>
              </div>
        </div>
        <div class="col-3 form-group">
            <div class="custom-control custom-checkbox">
                <input type="checkbox"  class="custom-control-input" id="Layer-12">
                <label class="custom-control-label" for="Layer-12">Funds Required</label>
              </div>
        </div>
    </div>
    
<div class="card-box">
    <h4 class="header-title mb-4">Cancellation</h4>
    <div class="form-group row mb-0 mt-2">
        <div class="col-3 form-group">
            <label for="Layer-13">Condition Id <span class="text-danger"></span></label>
            <input type="text" class="form-control" id="Layer-13" name="Layer-13">
        </div>
        <div class="col-3 form-group">
            <label for="Layer-14">Party <span class="text-danger"></span></label>
            <input type="text" class="form-control" id="Layer-14" name="Layer-14">
        </div>
        <div class="col-3 form-group">
            <label for="Layer-15">Date <span class="text-danger"></span></label>
            <input type="text" class="form-control" id="Layer-15" name="Layer-15">
        </div>
        <div class="col-3 form-group">
            <label for="Layer-16">Run Off End Date <span class="text-danger"></span></label>
            <input type="text" class="form-control" id="Layer-16" name="Layer-16">
        </div>
    </div>
</div>
<div class="card-box">
    <h4 class="header-title mb-4">Share Information</h4>
    <div class="form-group row mb-0 mt-2">
        <div class="col-3 form-group">
            <label for="Layer-17">Share %: <span class="text-danger"></span></label>
            <input type="text" class="form-control" id="Layer-17" name="Layer-17">
        </div>
        <div class="col-3 form-group">
            <label for="Layer-18">Share Units: <span class="text-danger"></span></label>
            <input type="text" class="form-control" id="Layer-18" name="Layer-18">
        </div>
        <div class="col-3 form-group">
            <label for="Layer-19">I&L Received Date: <span class="text-danger"></span></label>
            <input type="text" class="form-control" id="Layer-19" name="Layer-19">
        </div>
        <div class="col-3 form-group">
            <label for="Layer-20">I&L #: <span class="text-danger"></span></label>
            <input type="text" class="form-control" id="Layer-20" name="Layer-20">
        </div>
    </div>
</div>
</form>