.slimScrollDiv {
  position: relative;
  overflow: hidden;
  width: auto;
  height: 600px !important;
}

.noti-scroll {
  max-height: 300px;
  overflow: auto;
  width: auto;
  height: 549px;
}

#wrapper {
  height: 100%;
  overflow: hidden;
  width: 100%;
}