.notification-list{
    list-style-type: none;
}

.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}

.dropdown-submenu {
    position:relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top:-6px;
}

.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
}

.dropdown-menu {
    font-size: 16px !important;
}

.bg-light{
    background-color: #64c5b1!important;
}

.navbar-brand{
    font-size: xx-large;
}

.vertical-line{
    border-right: 1px solid #eeeeee;
}

.nav-link{
    font-size: medium;
    color: #eeeeee !important;
}

.dropdown-toggle:after {
    content: "\F140" !important;
    display: inline-block !important;
    font-family: "Material Design Icons";
  }
