<table datatable class="row-border hover">
    <thead>
      <tr>
        <th>Contract Code</th>
        <th>U/W Year</th>
        <th>Former Code</th>
        <th>Contract Name</th>
        <th>Effective Date</th>
        <th>Expiration Date</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of tableArray; let i = index;">
        <td>HTC-00{{i}}</td>
        <td>2020</td>
        <td>Form-CPP-{{i}}</td>
        <td>HTC-Cont-{{i}}</td>
        <td>12-12-2020</td>
        <td>12-12-2021</td>
        <td>
            <span class="badge badge-success p-1" >Active</span>
          </td>
        <td><div>
            <popover-content #myPopover class="justify-content-center" [closeOnClickOutside]="true">
              <a routerLink="/vendor-profile" class="btn btn-sm btn-outline-primary m-1"> View Contract
              </a>
              <a routerLink="/vendor-profile" class="btn btn-sm btn-outline-primary m-1"> Edit Contract
              </a>
              <a routerLink="/vendor-profile" class="btn btn-sm btn-outline-primary m-1"> Print Contract
              </a>
              <button type="button" class="btn btn-sm btn-outline-primary m-1">
                  Delete </button>
              <a routerLink="/vendor-profile" class="btn btn-sm btn-outline-primary m-1"> Cancel Contract
              </a>
              
            </popover-content>
            <i class="fa fa-ellipsis-h" [popover]="myPopover" popover-trigger="focus" [popoverOnHover]="false" aria-hidden="true"></i>
          </div></td>
    
      </tr>
     
    </tbody>
  </table>