/*** schedule slider styles start *****/
// .right-bar {
//     width: 423px;
//         right: -470px;
//         top: 60px;
//   }

.right-bar-enabled .right-bar {
    right: 0;
  //   width: 35% !important;
  }
  
  
  .right-bar .close-icon {
    display: inline-block;
    float: left;
    margin-left: -30px;
    margin-right: 19px;
  }
  
  .right-bar .right_bar_close {
    background-color: #d6d6d6;
    color: #000;
  }
  
  .right-bar .schedule-id {
    display: inline-block;
  }
  
  .right-bar .btn.new-tab {
    display: inline-block;
    color: #000;
    border: 1px solid #d6d6d6;
    padding: 2px 11px;
  }
  
  .right-bar .open-new-tab-btn {
    display: inline-block;
    float: right;
  }
  
  .right-bar .table-column-section {
    padding: 40px 0 0 0;
  }
  
  .right-bar .table-column-section table {
    width: 100%;
  }
  
  .right-bar .table-column-section table th {
    color: #c6c6c6;
    font-weight: 300;
  }
  
  .right-bar .table-column-section table td {
    color: #000;
  }
  
  // .right-bar .p-3 {
  //   border-bottom: 1px solid #d6d6d6;
  // }
  
  .right-bar .unit-left-section {
    display: inline-block;
  }
  
  .right-bar .unit-right-section {
    display: inline-block;
    float: right;
    text-align: right;
  }
  
  .right-bar .unit-section {
    padding-top: 10px;
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 10px;
  }
  
  .right-bar .address-section {
    padding-top: 10px;
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 10px;
  }
  
  .right-bar .address-section p {
    margin-bottom: 3px;
    padding-top: 4px;
  }
  
  .right-bar .slimScrollDiv {
    height: 800px !important;
  }
  
  .right-bar .buttons-section {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d6d6d6;
  }
  
  .right-bar .buttons-section table {
    width: 100%;
  }
  
  .right-bar .buttons-section table td {
    border: 1px solid #d6d6d6;
    width: 33.33%;
    text-transform: uppercase;
    text-align: center;
  }
  
  .right-bar .buttons-section .update-btn {
    display: inline-block;
    background: #768092;
  }
  
  .right-bar .buttons-section .update-btn .btn {
    display: inline-block;
    color: #fff;
    background: #768092;
  }
  
  .right-bar .buttons-section .detail-btn {
    display: inline-block;
  
  }
  
  .right-bar .buttons-section .detail-btn .btn {
    display: inline-block;
    color: #000;
  }
  
  .right-bar .buttons-section .contact-btn {
    display: inline-block;
  }
  
  .buttons-section .contact-btn .btn {
    display: inline-block;
    color: #000;
  }
  
  .right-bar .sub-menu,
  .right-bar .sub-menu1,
  .right-bar .sub-menu2,
  .right-bar .sub-menu3,
  .right-bar .sub-menu4 {
    float: left;
    display: block;
    text-align: center;
    padding-right: 24px;
    padding-bottom: 12px;
  }
  
  .right-bar .sub-menu .menu-title,
  .right-bar .sub-menu1 .menu-title,
  .right-bar .sub-menu2 .menu-title,
  .right-bar .sub-menu3 .menu-title,
  .right-bar .sub-menu4 .menu-title {
    display: block;
    margin-top: 8px;
  }
  
  .right-bar .dropdown-section .drop-section1 .inner-value,
  .right-bar .dropdown-section .drop-section2 .inner-value,
  .right-bar .dropdown-section .drop-section3 .inner-value {
    display: inline-block;
    margin-bottom: 12px;
  }
  
  .right-bar .dropdown-section .drop-section1 .inner-value .order-number,
  .right-bar .dropdown-section .drop-section2 .inner-value .order-number,
  .right-bar .dropdown-section .drop-section3 .inner-value .order-number {
    border-radius: 32px;
    border-color: #DADFE6;
    background: #DADFE6;
    width: 20px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;
    border: 2px solid #DADFE6;
    color: #000;
    text-align: center;
  
  }
  
  .right-bar .dropdown-section .drop-section1 .inner-text,
  .right-bar .dropdown-section .drop-section2 .inner-text,
  .right-bar .dropdown-section .drop-section3 .inner-text {
    display: inline-block;
    width: 80%;
  
  }
  
  .right-bar .dropdown-section .drop-section1 .inner-text .btn,
  .right-bar .dropdown-section .drop-section2 .inner-text .btn,
  .right-bar .dropdown-section .drop-section3 .inner-text .btn {
    background-color: #fff;
    color: #000;
    border: unset;
    width: 100%;
    text-align: left;
  }
  
  .right-bar .dropdown-section .drop-section1,
  .right-bar .dropdown-section .drop-section2 {
    margin-bottom: 23px;
    border-bottom: 1px solid #d6d6d6;
  }
  
  .right-bar .dropdown-section {
    margin-top: 20px;
    border-bottom: 1px solid #d6d6d6;
  }
  
  /*** schedule slider styles end *****/
  