<form class="form-horizontal mt-2">
    <div class="card-box">
        <h4 class="header-title mb-4">Cancellation</h4>
        <div class="table-responsive mt-2">
    
            <table class="table table-hover mb-5">
              <thead class="bg-light">
                <tr>
                    <th>Responsibility</th>
                    <th>Contact</th>
                    <th>Address</th>
                    <th>Bank Account</th>
                </tr>
            </thead>
            <tbody>
                <tr>
    
                </tr>
            </tbody>
        </table>
        </div>
    </div>

    </form>