   <!-- ========== Left Sidebar Start ========== -->
   <div class="left-side-menu">

    <div class="slimscroll-menu">

      <!--- Sidemenu -->
      <div id="sidebar-menu">

        <ul class="metismenu" id="side-menu">


          <!-- <li>
            <a href="javascript: void(0);">
              <i class="fe-airplay"></i>
              <span class="badge badge-success badge-pill float-right">2</span>
              <span> Admin </span>
            </a>
            <ul class="nav-second-level" aria-expanded="false">
              <li><a href="javascript:void(0)" routerLink="/dashboard">User Set-Up</a></li>
              <li> <a href="javascript:void(0)" routerLink="/">Access Rights</a></li>
            </ul>
          </li> -->
          <li>
            <a href="javascript:void(0)" routerLink="/dashboard/contract">
                <i class="fe-calendar"></i>
                <span> Contract </span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" routerLink="/dashboard/contract2">
                <i class="fe-calendar"></i>
                <span> Contract-2 </span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" routerLink="/dashboard/Layer">
                <i class="fe-calendar"></i>
                <span> Layer </span>
            </a>
        </li>
        <li>
          <a href="javascript:void(0)" routerLink="/dashboard/claim-summary">
              <i class="fe-calendar"></i>
              <span> Claim </span>
          </a>
      </li>
        <li>
          <a href="javascript:void(0)" routerLink="/dashboard/layer-new">
              <i class="fe-calendar"></i>
              <span> Layer(New Screen) </span>
          </a>
      </li>
        </ul>

      </div>
      <!-- End Sidebar -->

      <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

  </div>
  <!-- Left Sidebar End -->
