<!-- Start Content-->
<div class="container-fluid mt-2 ml-n3">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="bg-light">
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Business Condition Action</th>
                        <th>Effective Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>