<div class="modal-dialog modal-xl">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title text-center" id="myModalLabel">New Claim Creation</h4>
        </div>
        <div class="modal-body ">

            <form class="form-horizontal">

                <div class="form-group row request-types">
                    <div class="col-3">
                        <label for="claimId-1">Claim Number <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="claimId-1" name="claimId-1">
                    </div>
                    <div class="col-3">
                        <label for="claimId-2">Inward Group Name </label>
                        <input type="text" class="form-control" id="claimId-2" name="claimId-2">
                    </div>
                    <div class="col-3">
                        <label for="claimId-3">Former Claim Number </label>
                        <input type="text" class="form-control" id="claimId-3" name="claimId-3">
                    </div>
                    <div class="col-3">
                        <label for="claimId-4">Underlying Claim Number </label>
                        <input type="text" class="form-control" id="claimId-4" name="claimId-4">
                    </div>
                    <div class="col-3">
                        <label for="claimId-5">Insured Name </label>
                        <input type="text" class="form-control" id="claimId-5" name="claimId-5">
                    </div>
                    <div class="col-3">
                        <label for="claimId-6">Claim Review <span class="text-danger">*</span></label>
                        <select class="form-control" placeholder="Common area maintenance">
                            <option> Select Claim Review </option>
                            <option> Option 1</option>
                            <option> Option 2</option>
                            <option> Option 3</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label for="claimId-7">Claim Program Code <span class="text-danger">*</span></label>
                        <select class="form-control" placeholder="Common area maintenance">
                            <option> Select Claim Program Code</option>
                            <option> Option 1</option>
                            <option> Option 2</option>
                            <option> Option 3</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label for="claimId-8">Ceding Processing Option <span class="text-danger">*</span></label>
                        <select class="form-control" placeholder="Common area maintenance">
                            <option> Select Ceding Processing Option</option>
                            <option> Option 1</option>
                            <option> Option 2</option>
                            <option> Option 3</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label for="claimId-9">Stop Calc Condition </label>
                        <input type="text" class="form-control" id="claimId-9" name="claimId-9">
                    </div>
                    <div class="col-3">
                        <label for="claimId-10">Claim Jurisdiction </label>
                        <select class="form-control" placeholder="Common area maintenance">
                            <option> Select Claim Jurisdiction</option>
                            <option> Option 1</option>
                            <option> Option 2</option>
                            <option> Option 3</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label for="claimId-11">Claim Coverage <span class="text-danger">*</span></label>
                        <select class="form-control" placeholder="Common area maintenance">
                            <option> Select Claim Coverage</option>
                            <option> Option 1</option>
                            <option> Option 2</option>
                            <option> Option 3</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label for="claimId-12">Inward Claim Status </label>
                        <select class="form-control" placeholder="Common area maintenance">
                            <option> Select Inward Claim Status</option>
                            <option> Option 1</option>
                            <option> Option 2</option>
                            <option> Option 3</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label for="claimId-13">Claim Type <span class="text-danger">*</span></label>
                        <select class="form-control" placeholder="Common area maintenance">
                            <option> Select Claim Type</option>
                            <option> Option 1</option>
                            <option> Option 2</option>
                            <option> Option 3</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label for="claimId-14">Ceding Company Code </label>
                        <input type="text" class="form-control" id="claimId-14" name="claimId-14">
                    </div>
                    <div class="col-3">
                        <label for="claimId-15">Ceding Company Name </label>
                        <input type="text" class="form-control" id="claimId-15" name="claimId-15">
                    </div>
                    <div class="col-3">
                        <label for="claimId-16">Affiliate <span class="text-danger">*</span></label>
                        <select class="form-control" placeholder="Common area maintenance">
                            <option> Select Affiliate</option>
                            <option> Option 1</option>
                            <option> Option 2</option>
                            <option> Option 3</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label for="claimId-17">Account Executive </label>
                        <select class="form-control" placeholder="Common area maintenance">
                            <option> Select Account Executive</option>
                            <option> Option 1</option>
                            <option> Option 2</option>
                            <option> Option 3</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label for="claimId-18">Direct Analyst Name </label>
                        <input type="text" class="form-control" id="claimId-18" name="claimId-18">
                    </div>
                    <div class="col-3">
                        <label for="claimId-19">Direct Analyst Phone </label>
                        <input type="text" class="form-control" id="claimId-19" name="claimId-19">
                    </div>
                    <div class="col-3">
                        <label for="claimId-20">Direct Currency Count </label>
                        <input type="text" class="form-control" id="claimId-20" name="claimId-20">
                    </div>
                    <div class="col-3">
                        <label for="claimId-21">Reins Currency Count </label>
                        <input type="text" class="form-control" id="claimId-21" name="claimId-21">
                    </div>
                    <div class="col-3">
                        <label for="claimId-21">Manual Approval Status </label>
                        <input type="text" class="form-control" id="claimId-21" name="claimId-21">
                    </div>


                </div>

                <div class="card-box">
                    <div class="form-group row request-types">
                        <div class="col-12 requestType">

                            <h4 class="mb-2">Dates</h4>

                        </div>
                        <div class="col-3">
                            <label for="claimId-22">Loss <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="claimId-22" name="claimId-22">
                        </div>
                        <div class="col-3">
                            <label for="claimId-23">Claim Made </label>
                            <input type="text" class="form-control" id="claimId-23" name="claimId-23">
                        </div>
                        <div class="col-3">
                            <label for="claimId-24">Discovery </label>
                            <input type="text" class="form-control" id="claimId-24" name="claimId-24">
                        </div>
                        <div class="col-3">
                            <label for="claimId-25">Inward Activity </label>
                            <input type="text" class="form-control" id="claimId-25" name="claimId-25">
                        </div>

                        <div class="col-12 requestType">

                            <h4 class="mb-2">Loss cause Information</h4>

                        </div>
                        <div class="col-3">
                            <label for="claimId-26">Catastrophe </label>
                            <select class="form-control" placeholder="Common area maintenance">
                                <option> Select Catastrophe</option>
                                <option> Option 1</option>
                                <option> Option 2</option>
                                <option> Option 3</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <label for="claimId-27">Kind Of Loss <span class="text-danger">*</span></label>
                            <select class="form-control" placeholder="Common area maintenance">
                                <option> Select Kind Of Loss</option>
                                <option> Option 1</option>
                                <option> Option 2</option>
                                <option> Option 3</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <label for="claimId-27">Loss Location </label>
                            <select class="form-control" placeholder="Common area maintenance">
                                <option> Select Loss Location</option>
                                <option> Option 1</option>
                                <option> Option 2</option>
                                <option> Option 3</option>
                            </select>
                        </div>
                        <hr>
                        <div class="col-12 requestType">
                            <h4 class="mb-2">Description</h4>
                        </div>
                        <div class="col-12">
                            <label for="claimId-28">Loss Location </label>
                            <textarea class="form-control" name="claimId-28" id="claimId-28"  rows="3"></textarea>
                        </div>
                        <div class="col-12">
                            <label for="claimId-29">Narrative </label>
                            <textarea class="form-control" name="claimId-29" id="claimId-29"  rows="3"></textarea>
                        </div>
                        <div class="col-3">
                            <label for="claimId-30">Claim Orgin </label>
                            <input type="text" class="form-control" id="claimId-30" name="claimId-30">
                        </div>
                        <div class="col-3 requestType mt-4">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"  class="custom-control-input" id="claimId-31">
                                <label class="custom-control-label" for="claimId-31">Suppress Document</label>
                              </div>
                        </div>
                    </div>

                </div>




                <div class="row mb-2">
                    <div class="col-md-6">
                        <h4 class="header-title pt-1"></h4>
                    </div>
                    <div class="col-md-6 text-right">

                        <button type="button" class="btn btn-orange  mr-2" data-dismiss="modal" >Create Claim</button>

                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- /.modal-content -->
</div>