/* You can add global styles to this file, and also import other style files */

@import "./assets/css/bootstrap.min.css";
@import "./assets/css/icons.min.css";
@import "./assets/css/app.css";
@import "./assets/css/fyxt-style.css";
// @import './assets/css/kannan.css';

$fontsize14: 14px;

.circularBold{
  font-family: CircularBold !important;
}

.circularBook{
  font-family: CircularBook !important;
}

.circularMedium{
  font-family: CircularMedium !important;
}

.circularBlack{
  font-family: CircularBlack !important;
}

.circularItalic{
  font-family: CircularItalic !important;
}

.input-error {
  background-color: #fff;
  border-color: #dc3545 !important;
  outline: 0;
  box-shadow: 0 0 0 0.1rem #dc354561 !important;
}

.error-msg {
  font-size: 14px;
  color: #f44336;
}

.example-full-width {
  width: 100%;
}

mat-form-field label {
  font-size: 16px !important;
  font-family: CircularBook !important;
}

mat-form-field.mat-form-field-should-float label {
  font-size: 18px !important;
  font-family: CircularBook !important;
}

.mat-form-field-appearance-legacy .mat-form-field-suffix .mat-datepicker-toggle-default-icon {
  width: 1.5em !important;
  font-size: 18px !important;
}

table {
  width: 100% !important;
}

th{
  font-size: 14px !important;
  // font-weight: bold !important;
  color: black !important;
  background-color: #dee2e6 !important;
  font-family: CircularBold !important;
}

tr.mat-header-row {
  height: 40px !important;
}

.uppercase{
  text-transform: uppercase !important;
}

.orangeBtn:hover{
  background-color: #ff3c00 !important;
  border: 1px solid #ff3c00 !important;
}

.blackThemeClr{
  background-color: #393e46 !important;
  border: 1px solid #393e46 !important;
  color: white !important;
}

.blackThemeClr:hover{
  background-color: #2c2f35 !important;
  color: white !important;
}

.lightBlackThemeClearBtn{
  background-color: #eeeeee !important;
  color: black !important;
  border: 1px solid #eeeeee !important;
}

.editBtn{
  color: blue !important;
  font-size: $fontsize14 !important;
}

.deleteBtn{
  color: red !important;
  font-size: $fontsize14 !important;
}

.cdk-overlay-container .cdk-overlay-pane .selectCase{
  margin-top: 3% !important;
}

.cdk-overlay-container .cdk-overlay-pane .selectCase1{
  margin-top: 7% !important;
}
