/* You can add global styles to this file, and also import other style files */

@import "./assets/css/bootstrap.min.css";
@import "./assets/css/icons.min.css";
@import "./assets/css/app.css";
@import "./assets/css/fyxt-style.css";
// @import './assets/css/kannan.css';

.input-error {
  background-color: #fff;
  border-color: #dc3545 !important;
  outline: 0;
  box-shadow: 0 0 0 0.1rem #dc354561 !important;
}

.error-msg {
  font-size: 14px;
  color: #f44336;
}

.p-inputText {
  height: 42px !important;
}

.example-full-width {
  width: 100%;
}

mat-form-field label {
  font-size: 16px !important;
}

mat-form-field.mat-form-field-should-float label {
  font-size: 18px !important;
}

.mat-form-field-appearance-legacy .mat-form-field-suffix .mat-datepicker-toggle-default-icon {
  width: 1.5em !important;
}

table {
  width: 100% !important;
}

th{
  font-size: medium !important;
  font-weight: bold !important;
}