<!-- Begin page -->
<div id="wrapper">
  <app-header></app-header>
  <!-- <app-left-sidebar></app-left-sidebar> -->

  <!-- ============================================================== -->
  <!-- Start Page Content here -->
  <!-- ============================================================== -->

  

  <!-- ============================================================== -->
  <!-- End Page content -->
  <!-- ============================================================== -->
  <app-right-sidebar></app-right-sidebar>
</div>
<!-- END wrapper -->