<!-- Begin page -->
<div id="wrapper">


    <app-header></app-header>
  
    <app-left-sidebar></app-left-sidebar>
  
    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->
  
    <div class="content-page">
      <div class="content">
        <router-outlet></router-outlet>

  
      </div> <!-- end content -->
  
  
  
    </div>
  
    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->
  
  
    <app-right-sidebar></app-right-sidebar>
  
  
  
  </div>
  <!-- END wrapper -->
  