<div class="modal-dialog modal-xl">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title text-center" id="myModalLabel">Edit Contract</h4>
        </div>
        <div class="modal-body ">
            <form class="form-horizontal" [formGroup]="updateContractForm">
                <div class="form-group row request-types">
                    <div class="col-md-6 requestType">
                        <label for="username">Contract Affiliate <span class="text-danger">*</span></label>
                        <select class="form-control" formControlName="affiliateID"
                            placeholder="Common area maintenance">
                            <option> Contract Affiliate</option>
                            <option> Option 1</option>
                            <option> Option 2</option>
                            <option> Option 3</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="emailaddress">Contract Type <span class="text-danger">*</span></label>
                        <select class="form-control" formControlName="contractTypeID" placeholder="">
                            <option> Select Contract Type</option>
                            <option> Option 1</option>
                            <option> Option 2</option>
                            <option> Option 3</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label for="emailaddress">Contract Code <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" formControlName="contractCode" id="contractCode"
                         value="CPP-CT" name="date-ticket">
                    </div>
                </div>

                <div class="form-group row mb-0">
                    <div class="col-3 form-group date-picker">
                        <label for="emailaddress">Contract Name <span class="text-danger">*</span></label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="contractName" formControlName="contractName" value="Equiipment Breakdown - CPP" name="contractName">
                        </div>
                    </div>
                    <div class="col-3 requestType">
                        <label for="emailaddress">Renewal Type <span class="text-danger">*</span></label>
                        <select class="form-control" formControlName="RenewalType" placeholder="Renewal Type">
                            <option> Select Business Group</option>
                            <option> Option 1</option>
                            <option> Option 2</option>
                            <option> Option 3</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label for="emailaddress">Effective Date <span class="text-danger">*</span></label>
                        <input type="date" class="form-control" id="date-ticket" name="date-ticket"
                            formControlName="effectiveDate">
                    </div>
                    <div class="col-3">
                        <label for="emailaddress">Expiration Date <span class="text-danger">*</span></label>
                        <input type="date" class="form-control" formControlName="expirationDate" id="date-ticket"
                            name="date-ticket">
                    </div>
                </div>

                <div class="form-group row mb-0">
                    <div class="col-3 requestType">
                        <label for="Layer-12">Aggregated Claim Method</label>
                        <select class="form-control" id="Layer-12" placeholder="Aggregated Claim Method"
                            formControlName="aggregatedClaimMethod">
                            <option>Select Aggregated Claim Method</option>
                            <option> Option 1</option>
                            <option> Option 2</option>
                            <option> Option 3</option>
                        </select>
                    </div>
                    <div class="col-3 requestType mt-4">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" formControlName="ibnrExclusionFlag" class="custom-control-input"
                                id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">IBNR Excluded</label>
                        </div>
                    </div>
                    <div class="col-3 requestType">
                        <label for="Layer-12">Reason for update<span class="text-danger">*</span></label>
                        <div class="form-group row mt-1">
                            <div class="form-radio-buttons">
                                <div class="mt-3">
                                   <div class="row">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio1" name="customRadio"
                                            class="custom-control-input form-control">
                                        <label class="custom-control-label" for="customRadio1">Correction</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio2" name="customRadio"
                                            class="custom-control-input form-control">
                                        <label class="custom-control-label" for="customRadio2">Endorsement</label>
                                    </div>
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row mb-0">
                </div>

                <div class="row mb-2">
                    <div class="col-md-6">
                        <h4 class="header-title pt-1"></h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <button type="button" class="btn btn-orange  mr-2" data-dismiss="modal" (click)="updateContract()">Update Contract</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>