<div class="form-group row request-types">
        <div class="col-3 requestType">
          <label for="username" class="required">Add'l Name</label>
          <input type="text"  class="form-control" id="date-ticket"  name="Contract-Name" >

        </div>
        <div class="col-3">
            <label for="emailaddress">Former Code</label>
            <input type="text" class="form-control" id="date-ticket"  name="Contract-Name" >
          </div>
          <div class="col-3">
            <label for="emailaddress">Reference#</label>
            <input type="text" id="date-ticket" class="form-control" name="Contract-Name" >
          </div>
          <div class="col-3">
            <label for="emailaddress">Underwriter</label>
            <select class="form-control"  placeholder="Common area maintenance">
                    <option> Select Underwriter</option>
                    <option> Option 1</option>
                    <option> Option 2</option>
                    <option> Option 3</option>
                  </select>
          </div>
      </div>
      <!-- <div class="form-group row">
        <div class="form-radio-buttons">
          <div class="mt-3">
            <div class="custom-control custom-radio">
              <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
              <label class="custom-control-label" for="customRadio1">Regular Request</label>
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
              <label class="custom-control-label" for="customRadio2">Emergency Request</label>
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
              <label class="custom-control-label" for="customRadio3">Retroactive Upload</label>
            </div>
          </div>
        </div>
      </div> -->
     
      <div class="form-group row textarea-desc mb-0">
            <div class="col-3 form-group date-picker">
                    <label for="emailaddress">Account Exec</label>
      
                   
                            <select class="form-control"  placeholder="Common area maintenance">
                                    <option> Select Account</option>
                                    <option> Option 1</option>
                                    <option> Option 2</option>
                                    <option> Option 3</option>
                                  </select>                  
                  </div>
        <div class="col-3 requestType">
          <label for="emailaddress">Tech.Asst</label>
          <select class="form-control"  placeholder="Common area maintenance">
            <option> Select Tech Asst</option>
            <option> Option 1</option>
            <option> Option 2</option>
            <option> Option 3</option>
          </select>
        </div>
        <div class="col-3 form-group date-picker">
                <label for="emailaddress">Agreement</label>
                <div class="input-group">
                  <input type="text" id="date-ticket" class="form-control"  name="Contract-Name" >
                </div>
              </div>
        
        <div class="col-3">
                <label for="emailaddress">Program</label>
                <select class="form-control"  placeholder="Program">
                        <option> Select Program</option>
                        <option> Option 1</option>
                        <option> Option 2</option>
                        <option> Option 3</option>
                      </select>             
      </div>
</div>

      <div class="form-group row mb-0">
        
        <div class="col-3 form-group date-picker">
          <label for="emailaddress"> section</label>
          <div class="input-group">
                <select class="form-control"  placeholder="section">
                        <option> Select section</option>
                        <option> Option 1</option>
                        <option> Option 2</option>
                        <option> Option 3</option>
                      </select>  
          </div>
        </div>
        <div class="col-3">
                <label for="emailaddress">Profit Center</label>
                <select class="form-control"  placeholder="section">
                        <option> Select Profit Center</option>
                        <option> Option 1</option>
                        <option> Option 2</option>
                        <option> Option 3</option>
                      </select>              
                     </div>
              <div class="col-3 form-group date-picker">
                <label for="emailaddress">Risk Transfer Analysis</label>
                <div class="input-group">
                  <input type="date" id="date-ticket"  name="Contract-Name" >
                </div>
              </div>
             
      </div>

      
     