<form>
        <div class="form-group row mb-0 mt-2">
                <div class="col-4 form-group ">
                        <div class="custom-control custom-checkbox">
                                <input type="checkbox"  class="custom-control-input" id="Layer-1">
                                <label class="custom-control-label" for="Layer-12">Keep&nbsp;as&nbsp;Original</label>
                              </div>
                </div>
                <div class="col-4 form-group ">
                        <div class="custom-control custom-checkbox">
                                <input type="checkbox"  class="custom-control-input" id="Layer-1">
                                <label class="custom-control-label" for="Layer-12">Automated&nbsp;Billing</label>
                              </div>
                </div>
            </div>
    <div class="card-box">
            <h4 class="header-title mb-4">Auto Approve</h4>
            <div class="form-group row mb-0 mt-2">
                    <div class="col-4 form-group ">
                            <div class="custom-control custom-checkbox">
                                    <input type="checkbox"  class="custom-control-input" id="Layer-1">
                                    <label class="custom-control-label" for="Layer-12">Premium</label>
                                  </div>
                    </div>
                    <div class="col-4 form-group ">
                            <div class="custom-control custom-checkbox">
                                    <input type="checkbox"  class="custom-control-input" id="Layer-1">
                                    <label class="custom-control-label" for="Layer-12">Loss</label>
                                  </div>
                    </div>
                    <div class="col-4 form-group ">
                            <label for="Layer-10">Max Amount <span class="text-danger">*</span></label>
                             <input type="text" class="form-control" id="Layer-10" name="Layer-10">
                    </div>
                </div>
    </div>
    <div class="card-box">
            <h4 class="header-title mb-4">Disbursement Gather</h4>
            <div class="form-group row mb-0 mt-2">
                    <div class="col-4 form-group ">
                            <div class="custom-control custom-checkbox">
                                    <input type="checkbox"  class="custom-control-input" id="Layer-13">
                                    <label class="custom-control-label" for="Layer-13">Automated</label>
                                  </div>
                    </div>
                    <div class="col-4 form-group ">
                            <div class="custom-control custom-checkbox">
                                    <input type="checkbox"  class="custom-control-input" id="Layer-14">
                                    <label class="custom-control-label" for="Layer-14">Include&nbsp;FET</label>
                                  </div>
                    </div>
                    <div class="col-4 form-group ">
                            <label for="Layer-9">Approved</label>
                            <select class="form-control" id="Layer-9" placeholder="Approved">
                                <option> Select Approved</option>
                                <option> Option 1</option>
                                <option> Option 2</option>
                                <option> Option 3</option>
                              </select>
                    </div>
                </div>
    </div>
</form>
